#profile > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#profile > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#modal_wait > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#modal_wait > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#min > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#min > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#documentacion > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#documentacion > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#historialpicture > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#historialpicture > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#historialsuperior > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#historialsuperior > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#editarow > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#editarow > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#viewimages > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#viewimages > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#propiedadesrooms > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#propiedadesrooms > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#modaleditar  > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#modaleditar > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#picturerooms > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#picturerooms > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#despueshhistorial > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#despueshhistorial > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#historialgastronomia > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#historialgastronomia > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#despueshistorial > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#despueshistorial > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#historialhistory > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#historialhistory > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#tablalength > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#tablalength > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#textoprincipal > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#textoprincipal > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#historialcontactus > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#historialcontactus > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#textoseditados > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#textoseditados > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#antescrear > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#antescrear > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#despuescrear > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#despuescrear > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#editprofile > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#editprofile > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#confirmdelete > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#confirmdelete > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#notmach > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#notmach > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#btnSave{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;}
#btnSave:hover,#btnSave:focus{color:#cf6b1f;font-family:Roboto-Bold;}
.btndown{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;}
.btndown:hover,.btndown:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnEditar{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;}
#btnEditar:hover,#btnEditar:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnEditarUsuarioRegistrado{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;}
#btnEditarUsuarioRegistrado:hover,#btnEditarUsuarioRegistrado:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnCrear{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;}
#btnCrear:hover,#btnCrear:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnremover{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;position: relative;top:1rem;}
#btnremover:hover,#btnremover:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btncerrarhismensaje{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;position: relative;top:1rem;}
#btncerrarhismensaje:hover,#btncerrarhismensaje:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnremoverclose{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;position: relative;top:1rem;}
#btnremoverclose:hover,#btnremoverclose:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnEditarUsuario{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;}
#btnEditarUsuario:hover,#btnEditarUsuario:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnREditar{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;}
#btnREditar:hover,#btnREditar:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnclose{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;}
#btnclose:hover,#btnclose:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnregresar{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;}
#btnregresar:hover,#btnregresar:focus{color:#cf6b1f;font-family:Roboto-Bold;}
.card-dashboard{
	padding: 1rem !important;
}

.cerrarregresar{
	text-align: center;
	padding: 0.5rem;
}

.texto-center{
	text-align:center;
}

.note-editable > p{
	word-wrap: break-word;
}

.box-dashboard{
	border: 5px solid #3E281B  !important;
	border-radius:10px !important;
	width:25rem !important;
	height:20rem !important;
}

.nav-sm ul.nav.child_menu {
    left: 100%;
    position: absolute;
    top: 0;
    width: 210px;
    z-index: 4000;
    background: #3e281b;
    display: none;
}

.lista_ul > li > a.config-icons{
	font-size: 1.5rem;
	cursor:pointer !important;
	color:#3E281B !important;
}

.current-page > a{
  color:#cf6b1f !important;
}

.fixed-color-title{
  color:#3e281b !important;
}

#usuarioperfil{
  color: #cf6b1f !important;
  font-weight: bold;
}

.btn-walhist{
  background-color:#cf6b1f !important;
  color:#FFFFFF !important;
}

@font-face {
    font-family:Roboto-Bold;src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family:Roboto-Light;src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family:Roboto-Regular;src: url(../fonts/Roboto-Regular.ttf);
}

.fuentefami{
 font-family: Roboto-Light;
}

#btnEditarUsuariotool{
  width: 150px;
  height: 30px;
  margin: 0px 0px;
  display: block;
  background-color: #3e281b;
  color: #e4dcca;
  border: none;
  position: relative;
  top: 0rem;
  left: 1rem;
}
#btnEditarUsuariotool:disabled{
  background-color: #e4dcca;
  color:#cf6b1f;
}

.fixed-colmd-3{
  width: 33.33333333%;
}

.fixed-scroll-user{
  overflow: scroll !important;
  overflow-y: visible;
  overflow-x: hidden;
}

 .fixed-aux-md-3{
   width: 33.333% !important;
 }

 .col-fixed{
   width: 33.333% !important;
 }
 
.fixed-md-4{
  width: 100% !important;
}

.fixed-md-4v6{
  width: 50% !important;
}

#visitasmobile{
  display: none !important;
}

@media only screen and (max-width:1536px){
  .demo-container{
    display: none !important;
  }

  .fixed-colmd-3{
    width: 50%;
  }

  #visitasmobile{
    display: block !important;
  }
}

@media only screen and (max-width:1280px){

  .fixed-colmd-3{
    width: 50% !important;
  }
  
  .col-fixed{
	width: 100% !important;
 }
}

@media only screen and (max-width:991px){
  .fixed-dialog{
    width: 89%;
    position: relative;
    left: 3.5rem;
  }

  .fixed-scroll-user{
    overflow: none !important;
  }
  
  .col-fixed{
	width: 100% !important;
 }
}

@media only screen and (max-width:767px){
  .fixed-colmd-3{
    width: 50% !important;
  }

  .fixed-md-4v6{
    width: 100% !important;
  }
	

 .col-fixed{
	width: 100% !important;
 }
 
  .x_title h2 {
    width: 100% !important;
    font-size: 17px;
  }

  .fixed-view-user{
    position: relative;
    top: 1rem;
  }

  .fixed-dialog{
    width: 87%;
    position: relative;
    left: 7rem;
  }
}

@media only screen and (max-width:660px){
  .fixed-colmd-3{
    width: 100% !important;
  }
}

.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
padding-right: 0px !important;
}

.fixed-wait-aux{
    top: 0rem !important;
}

.fixed-button-historial{
  width:100px;
  height:30px;
  margin:0px auto;
  display:block;
  background-color:#3e281b;
  color:#e4dcca;
  border:none;
  position: relative;
  top:0rem;
}

.aux-wait{top:0rem !important;}

.fixed-button-historial:hover, .fixed-button-historial:focus{
    color:#cf6b1f;
    font-family:Roboto-Bold;
}

.btnRespaldarUsuario:disabled{
  background-color: #e4dcca !important;
  color:#cf6b1f !important;
}

.btnEditarUsuariotool:disabled{
  background-color: #e4dcca !important;
  color:#cf6b1f !important;
}

#btnEditarUsuariotool:hover,#btnEditarUsuariotool:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnRespaldarUsuario{
  width: 150px;
  height: 30px;
  margin: 0px 0px;
  display: block;
  background-color: #3e281b;
  color: #e4dcca;
  border: none;
  position: relative;
  top: 0rem;
  left: 1rem;
}
.corregir-font{font-size: 23px !important;}
#btnRespaldarUsuario:hover,#btnRespaldarUsuario:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnEliminarUsuario{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;}
#btnEliminarUsuario:hover,#btnEliminarUsuario:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btncrearclose{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;position: relative;top:1rem;}
#btncrearclose:hover,#btncrearclose:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#profileclose{color:#cf6b1f;position:absolute;top:15px;right:15px;cursor:pointer;z-index: 103;}
#wait{color:#cf6b1f;position:absolute;top:15px;right:15px;cursor:pointer;z-index: 103;}
#resultadoprofile{position: relative;bottom: 2rem;}
.fixed-wait{position: relative;top:1rem;}
.fixed-waitv2{position: relative;top:0rem !important;}
.mensaje{ position: relative; top: 1rem; font-size: 1.5rem; font-weight: bold; }
.title-waldorf{font-size: 2rem;font-weight: bold;}
.input-style{background-color: #e4dcca;}
.input-style::-webkit-input-placeholder{color: #cf6b1f;font-weight: bold;}
.input-style::-moz-placeholder{color: #cf6b1f;font-weight: bold;}
.input-style:-ms-input-placeholder{color: #cf6b1f;font-weight: bold;}
.input-style:-moz-placeholder{color: #cf6b1f;font-weight: bold;}
.alerta{color:#3e281b !important;position:relative;font-size:1.5rem;font-weight:bold;}
/******************************************************************************/
.on{color:#E4DCCA !important;font-size:2.5rem;}
.off{color:red !important;font-size:2.5rem;}
.center{display:block;margin-left:auto !important;margin-right:auto !important;}
.fixed-wait{text-align:center;}
.ocultar{display:none;}
.mostrar{display:block;}
.fixed-pos-row > div{padding-top: 1rem;padding-bottom: 1rem;}
#tituloeditado, #titulohabitacion, #onhab, #propiedadeshab, #capacidad, #subtituloeditado, #userregistradoconfirmar, #file_superior, #file_inferior, #nombre, #correo, #userlogin, #nombre_picture, #userpassword, #userconfirmar, #usuarionombre, #usuariocorreo, #uregistradologin, #uregistradopassword{color:#cf6b1f;font-weight:bold;}
.nav.side-menu>li.active>a{background: linear-gradient(#e4dcca, #3e281b),#2A3F54;}
.nav.side-menu>li.active, .nav.side-menu>li.current-page{border-right: 5px solid #e4dcca !important;}
.fixed-link-p{font-weight:bold !important;cursor:pointer;color:#3e281b;position: relative;margin: 0;margin-left: 10px;}
.fuente {color:#cf6b1f !important;}
.errormensaje, .clienteerror{float:right;color:#e4dcca;font-weight: bold;}
