#historia{padding-bottom:40px;}
#historia>div>div>table{width:100%;height:100%;}
#historia .imghistory{margin-left:auto;margin-right:auto;display:block;}
#historia .grid-gl{padding-left:0px;}
#historia h2.title{color:#cf6b1f;text-transform:capitalize;font-family:Roboto-Regular;margin-top:0px;}
/* ==================================================*/
@media (max-width: 767px) {
	#historia .grid-gl{padding:15px;}
	#historia .imghistory{max-width:100%;height:auto;}
}
/* ==================================================*/
#Galeria{position:relative;max-width:1200px;height:250px;margin-left:-60px;margin-right:-60px;margin-top:0px;margin-bottom:80px;background-color:#404040!important}
#Galeria>div>div{height:250px;}
#Galeria>div>div>table{width:100%;height:100%;}
#Galeria p,#btn-galeria{color:#FFF;text-align:right;max-height:200px;margin:10px 0;overflow:hidden;}
#btn-galeria{text-transform:uppercase;float:right;text-decoration:none;}
#Galeria .grid-galeria{height:230px;margin-top:10px;padding-left:0px;padding-right:0px;}
#Galeria .grid-gl{padding-left:0px;}
#Galeria .grid-media{padding-left:10px;padding-right:10px;}
#Galeria .grid-imgaleria{background-repeat:no-repeat;background-size:cover;background-position:center;width:100%;height:230px;}
/* ==================================================*/
@media (max-width: 1200px){
	#Galeria{margin-left:auto;margin-right:auto;}
}
@media (max-width: 991px){
	#Galeria{height: initial;}
}
@media (max-width: 767px) {
	#Galeria .grid-gl{padding:15px;height:auto;}
	#Galeria .grid-media{padding-left:0px;padding-right:0px;}
	#Galeria .grid-imgaleria{width:240px;margin:auto;}
}
/* ==================================================*/
#modalgalhitoria{padding:0px!important;}
#closeModal{position:absolute;top:15px;right:15px;z-index:101;cursor:pointer;width:27px;height:27px;font-size:24px;color:#FFF;}
#modalgalhitoria{background-color: rgba(0,0,0,0.6);}
#BootstrapCarouselLightBox,#modalgalhitoria{width:100%;height:100%;}
#BootstrapCarouselLightBox .carousel-indicators{width:80%;left:0;right:0;margin:0px auto;}
#arrowLightBoxNext,#arrowLightBoxPrev{position:absolute;top:calc(50% - 22.5px);z-index:101;cursor:pointer;}
#arrowLightBoxNext{right:15px;}
#arrowLightBoxPrev{left:15px;}
#BootstrapCarouse-innerlLightBox img{margin:0px auto;max-width:1280px;width:100%;height:auto;display:block;}
#BootstrapCarouse-innerlLightBox,#BootstrapCarouse-innerlLightBox .item{height:100%;}
#BootstrapCarouselLightBox .thumbnails{border:none;width:50px;height:50px;background-position:center;background-repeat:no-repeat;background-size:cover;opacity:0.5;border-radius:0px;margin:0px 5px;}
#BootstrapCarouselLightBox .thumbnails.active{opacity:1;}
#BootstrapCarouselLightBox .carousel-indicators{bottom:10px;}