@font-face {
    font-family:Plaster-Paris;src: url(../fonts/PlasterofParis.ttf);
}

#botones > div{
  margin-top: 4rem;
  margin-bottom: 2rem;
  position: relative;
}

.not-width{
    width: 250px !important;
}


#titulohistory, #descr{color:#cf6b1f;font-weight:bold;}
