@font-face {
    font-family:Plaster-Paris;src: url(../fonts/PlasterofParis.ttf);
}

#btnaddhistory{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;position: relative;top:0rem;}
#btnaddhistory:hover,#btnaddhistory:focus{color:#cf6b1f;font-family:Roboto-Bold;}

#btnclosehistory{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;position: relative;top:1rem;}
#btnclosehistory:hover,#btnclosehistory:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnAgregarPromo{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;position: relative;top:0rem;}
#btnAgregarPromo:hover,#btnAgregarPromo:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#file_picture, #subtitulohistory, #titulohistory, #descr{color:#cf6b1f;font-weight:bold;}
#file_picture1, #costopromo, #cntd, #autor, #file_picture2, #file_picture3, #file_picture4, #file_picture5, #file_picture6, #subtitulohistory, #titulohistory, #descr{color:#cf6b1f;font-weight:bold;}
.border-over{
    border: 1rem solid #3e281b !important;cursor:pointer;
}

.fixed-button-historial{
  width:100px;
  height:30px;
  margin:0px auto;
  display:block;
  background-color:#3e281b;
  color:#e4dcca;
  border:none;
  position: relative;
  top:0rem;
}

.dataTables_scrollHeadInner{
  box-sizing: content-box; width: 100% !important; padding-right: 0px;
};

.fixed-input{
	color:#Ff8300 !important;
	font-weight:bold !important;
}

.btn-margenes{
    position: relative;
    padding-bottom: 1rem;
}

.btn-waldorf{
  background-color: #e4dcca !important;
}

.fixed-button-historial:hover, .fixed-button-historial:focus{
    color:#cf6b1f;
    font-family:Roboto-Bold;
}

.fixed-row-btn{
    position: relative;
    top:1rem;
}

.fixed-background-preview{
  background: url(../img/default.jpg) no-repeat;
  background-size: contain;
  width: auto;
  height: auto;
}


.fixed-picture-config{
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    display: block;
    margin-left: 0px;
    margin-right: auto;
    height: auto !important;
}

.carousel-indicators{
    top: 47rem;
}

.colorhr{
  color: #cf6b1f;
}


@media only screen and (max-width: 1200px){
  .fixed-picture-config {
      height: auto !important;
  }
}


#pictureName{color:#cf6b1f !important;font-weight:bold;}

#btnrestaurant, #btnhabitaciones{
  width: 150px;
  height: 30px;
  margin: 0px 0px;
  display: block;
  background-color: #3e281b;
  color: #e4dcca;
  border: none;
  position: relative;
  top: 0rem;
  left: 1rem;
}
#btnrestaurant:disabled, #btnhabitaciones:disabled{
  background-color: #e4dcca;
  color:#cf6b1f;
}

.fixed-position-header{
  position: relative;
  top: 1rem;
}

.fixed-row > div{
  float:right;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/******************************/
#Carousel-Waldorf,#Inner-Waldorf,.item,.item-topage{
	position:relative;height:500px
}
.item-topage{background-repeat:no-repeat;background-size:cover;}
/* ==================================================*/
/*
inspired from http://codepen.io/Rowno/pen/Afykb
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;transition-property: opacity;}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right {
  left: 0;opacity: 0;z-index: 1;
}

.carousel-fade .carousel-inner .next.left,.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/* ==================================================*/
