#Carousel-Waldorf,#Inner-Waldorf,.item,.item-topage{
	position:relative;height:500px
}
.item-topage{background-repeat:no-repeat;background-size:cover;}
/* ==================================================*/
/*
inspired from http://codepen.io/Rowno/pen/Afykb
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right {
  left: 0;opacity: 0;z-index: 1;
}
.carousel-fade .carousel-inner .next.left,.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

#sb-container{
	z-index: 1124 !important;
}

.grey_color > option
{    
    color:#000 !important;
	font-weight:bold !important;
}

#ArribaHome{top:6rem;width:50px;height:50px;font-size:30px;background-color:#3f1600;color:#e4dcca;border-radius:100px;text-align:center;padding-top:5px;position:relative;left:0;right:0;margin:0px auto;bottom:-25px;cursor:pointer;}
#url-developer{position: relative; margin-top: 1rem;}
#antesenviar > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#antesenviar > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#bookinglogin > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#bookinglogin > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#despuesenviar > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#despuesenviar > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
.fixed-warning{ font-size:21rem;}
.alerta{color:#3e281b;position:relative;font-size:1.5rem;font-weight:bold;}
#wait{color:#cf6b1f;position:absolute;top:10px;right:15px;cursor:pointer;z-index: 103;}
.center{display:block;margin-left:auto !important;margin-right:auto !important;}
#btnClose{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;
    top: 1rem;
    position: relative;}
#btnClose:hover,#btnClose:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnActivar{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;
    top: 1rem;
    position: relative;}
#btnActivar:hover,#btnActivar:focus{color:#cf6b1f;font-family:Roboto-Bold;}
.fixed-wait{position: relative;top:2rem;}
.mensaje{ position: relative; top: 1rem; font-size: 1rem; font-weight: bold; }
.title-waldorf{font-size: 2rem;font-weight: bold;}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
		opacity: 0;-webkit-transform: s1 translate3d(0, 0, 0);-o-transform: s1 translate3d(0, 0, 0);-moz-transform: s1 translate3d(0, 0, 0);transform: s1 translate3d(0, 0, 0)translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
		opacity: 0;-webkit-transform: s1 translate3d(0, 0, 0);-o-transform: s1 translate3d(0, 0, 0);-moz-transform: s1 translate3d(0, 0, 0);transform: s1 translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
		opacity: 1;-webkit-transform: s1 translate3d(0, 0, 0);-o-transform: s1 translate3d(0, 0, 0);-moz-transform: s1 translate3d(0, 0, 0);transform: s1 translate3d(0, 0, 0);
    }
}
/* ==================================================*/
#imgHistoria{background-repeat: no-repeat;background-position: center;height:200px;padding:0px;}
#ContainrTP{height:200px;}
.TableP{width:100%;height:100%;}
#ParrafoHistoria{text-align:center;padding:0px 15px;max-height:120px;overflow:hidden;}
.link-T{width:100%;color:#333;}
.link-T:hover,.link-T:focus{text-decoration:none;color:#333;}
/* ==================================================*/
#habitaciones,#content-promociones{position:relative;max-width:1200px;height:450px;margin-left:-60px;margin-right:-60px;margin-top:0px;margin-bottom:80px;background-color:#FFF!important;}
#ParrafoHab{text-align:center;padding:0px 15px;max-height:220px;overflow:hidden;}
#btn-walhab{width:150px;height:35px;background-color:#722b0e;border:#722b0e;color:#e4dcca;margin:0px auto;display:block;}
#btn-walhab:hover,#btn-wal+hab:focus{ font-family:Roboto-Bold;color:#cf6b1f;}
#WaldrofHab-indicators{width:150px;height:360px;background-color:#FFF;border:1px solid #e4dcca;position:absolute;z-index:10;margin-left: calc(100% - 75px);margin-top:45px;overflow:hidden;padding:12px 0px;list-style:none;}
#WaldrofHab-indicators>li{width:100px;height:70px;background-position:center;background-repeat:no-repeat;background-size:cover;margin:12px auto;cursor:pointer;}
#WaldrofHab-indicators>li.active{display:none;}
#Waldorf-DesH{height:450px;background-color:#FFF;padding:0px 75px;}
#Waldorf-ImgH{padding:0px;height:450px;}
#Inner-WaldrofHab,#Waldorf-ImgH{padding:0px;margin:0px;}
.item-WaldrofHab{height:450px;background-position:center center;background-repeat:no-repeat;background-size:cover;}
#indicero{display:none;}
/* ==================================================*/
@media (max-width: 1200px){
	#habitaciones,#content-promociones{margin-left:auto;margin-right:auto;}
}
@media (max-width: 991px){
	#WaldrofHab-indicators{width:75px;height:260px;padding:0px;margin-top:95px;background-color:rgba(255,255,255,0.5);}
	#WaldrofHab-indicators>li{width:50px;height:50px;}
	#Waldorf-DesH{padding:0px;}
	#habitaciones,#content-promociones{height: initial;}
}
@media (max-width: 767px) {
	.item-WaldrofHab{background-size:contain;}
}
@media (max-width: 426px){
	#WaldrofHab-indicators{width:260px;height:74px;padding:0px;margin-top:initial!important;margin-left:calc(50% - 130px);bottom:0px;margin-bottom:0px;background-color:rgba(255,255,255,0.5);}
	#WaldrofHab-indicators>li{display:inline-block;margin: 12px 5px!important;}
	#Waldorf-ImgH{padding:0px;height:320px;}
	#WaldrofHab-indicators{margin-top:30px;}
	.item-WaldrofHab{height:320px;}
}
/* ==================================================*/
.grid {background-color:#e4dcca;max-width:1080px;}
.grid:after {content: '';display: block;clear: both;}
.grid-item-width {height: 185px;float: left;width: 33%;padding:5px;}
.grid-item-width-2{ width:  66%; }
.grid-item-height { height: 185px; }
.grid-item-height2 { height: 370px; }
.grid-item-img{background-repeat:no-repeat;background-position:center;background-size:cover;height:100%;}
.grid-item-text{height:100%;width:100%;}
#ParrafoGastro{text-align:right;padding:0px 15px;max-height:80px;overflow:hidden;}
/* ==================================================*/
@media (max-width: 1023px){
	.grid-item-width,.grid-item-width-2{width:  50%;}
}
@media (max-width: 659px){
	.grid-item-width,.grid-item-width-2{ width:  100%;}
	.grid-item-text>.TableP{margin-left: -8.33333333%;}
}
/* ==================================================*/
.grid-promo{width:300px;height:300px;margin-top:75px;margin-left:75px;float:left;background-image:url('http://localhost/waldorf/img/default.jpg');background-size:contain;background-position:center;background-repeat:no-repeat;}
#CarouselPromo,.fdi-Carousel,.onebyone-carosel,.onebyone-carosel.carousel-inner>.item{height:450px;}
#CarouselPromo .carousel-control{background-image:none!important;width:33.3333%;min-width:300px;height:300px;margin-top:75px;}
#CarouselPromo .carousel-control>a{width:300px;height:300px;display:block;margin:0 auto;background-color:transparent;border:none;}
.onebyone-carosel.carousel-inner>.item>a{width:33.3333%;min-width:300px;height:300px;float:left;}
.onebyone-carosel.carousel-inner>.item>a>img{width:300px;height:300px;}
.onebyone-carosel .item{padding-top:75px;}
.carousel-inner.onebyone-carosel { margin: auto; width: 100%; }
.onebyone-carosel .active.left { left: -33.33%; }
.onebyone-carosel .active.right { left: 33.33%; }
.onebyone-carosel .next { left: 33.33%; }
.onebyone-carosel .prev { left: -33.33%; }
@media (max-width: 991px){
	#content-promociones{height:380px;}
	#CarouselPromo .carousel-control,.onebyone-carosel.carousel-inner>.item>a{min-width:230px;height:230px;}
	#CarouselPromo .carousel-control>a,.onebyone-carosel.carousel-inner>.item>a>img{width:230px;height:230px;}
}
@media (max-width: 767px) {
	#content-promociones{height:420px;}
	#content-promociones,.onebyone-carosel.carousel-inner>.item>a{width:100%;}
	.onebyone-carosel.carousel-inner>.item>a,.onebyone-carosel.carousel-inner>.item>a>img{height:270px;}
	.onebyone-carosel.carousel-inner>.item>a>img{width:270px;}
	.prueba,#CarouselPromo .carousel-control{margin-top:200px;min-width:initial;}
	.prueba,#CarouselPromo .carousel-control,#CarouselPromo .carousel-control>a{width:50px;height:50px;}
	.prueba,#CarouselPromo .carousel-control.right{right:5%;}
	.prueba,#CarouselPromo .carousel-control.left{left:5%;}
	.prueba,#CarouselPromo .carousel-control.right>a{background-size: contain;background-image:url('../img/right-arrow.svg');}
	.prueba,#CarouselPromo .carousel-control.left>a{background-size: contain;background-image:url('../img/left-arrow.svg');}
}
@media (max-width: 425px) {
	#CarouselPromo .carousel-control.right{right:0;}
	#CarouselPromo .carousel-control.left{left:0;}
}
/* ==================================================*/
#Contacto{background-repeat:no-repeat;background-position:center;background-size:cover;min-height:400px;padding: 32.5px 0px;}
.inputWldorf{background-color:transparent;border:none;border-bottom:1px #e4dcca solid;border-radius:0px;-webkit-box-shadow: inset 0 0px 0px transparent;box-shadow: inset 0 0px 0px transparent;color: #e4dcca;}
.inputWldorf::-webkit-input-placeholder{color: #e4dcca;}
.inputWldorf::-moz-placeholder{color: #e4dcca;}
.inputWldorf:-ms-input-placeholder{color: #e4dcca;}
.inputWldorf:-moz-placeholder{color: #e4dcca;}
.col-labelR{color:#e4dcca;}
input[type="radio"]:checked+label{font-family:Roboto-Bold;}
#btn-env{padding:3px 24px;background-color:transparent;border:1px #e4dcca solid;color:#e4dcca;margin-left:auto;margin-right:auto;display:block;}
.error{
    background-color:#e4dcca !important;
    color:#3e281b;
    font-weight: bold !important;
    padding: 0.5rem;
}
