#btneditarHistory:hover{
	color:#FF8300 !important;
}

.container-button{
	display: flex;
	display:-webkit-flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.fixed-button{
  font-size: 30px;
  color: #FFFFFF;
  margin: 0px;
  width: 200px;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #cf6b1f !important;
  border-color: #cf6b1f;
  float: right;
}

.tam{
overflow: scroll;
height: 80vh;
overflow-x: hidden;
}

.modal-pos{
position: relative;
left: 1rem;
}

/*#image{
	display:none;
}*/

.child_menu > li > a.active{
	color:#FF8300 !important;
}

.fileother {
    position: relative;
}

.fileother #imagen_portada {
    position: absolute;
    z-index: 2;
    opacity: 0;
    width:63%;
    height:100%;
}

.fileother input {
    position: absolute;
    z-index: 2;
    opacity: 0;
    width:100%;
    height:100%;
}

.fileinferior input{
	position: absolute;
	z-index: 2;
	opacity: 0;
	width: 100%;
	height: 100%;
	max-height: 487px;
}

.cenico{
	display:block;
}

.btn-table-wal{
	padding: 1.2rem;
	border: 2px solid #3E281B;
	border-radius: 2rem;
	width:14rem;
}

.btn-table-wal:hover{
	border: 2px solid #cf6b1f;
}

.zoom, .zoom_title, .zoom_tools{
	/* Aumentamos la anchura y altura durante 2 segundos */
	transition: width 2s, height 2s, transform 2s;
	-moz-transition: width 2s, height 2s, -moz-transform 2s;
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
	-o-transition: width 2s, height 2s,-o-transform 2s;
}
	
	.zoom_title{
		text-align: center;
		position: relative;
		top: -8rem;
		color:#FFFFFF !important;
	}
	
	.zoom_tools{
		text-align: right;
		position: relative;
		top: -10rem;
		left:-8rem;
		font-size: 3rem;
		color:#FFFFFF !important;
	}
	
	.zoom_tools:hover{
		color:#3E281B !important;
	}
	
	.zoom_title:hover{
		transform : scale(1.1);
        -moz-transform : scale(1.1);      /* Firefox */
        -webkit-transform : scale(1.1);   /* Chrome - Safari */
        -o-transform : scale(1.1);        /* Opera */
	}
	
    .zoom:hover{
        transform : scale(0.9);
        -moz-transform : scale(0.9);      /* Firefox */
        -webkit-transform : scale(0.9);   /* Chrome - Safari */
        -o-transform : scale(0.9);        /* Opera */

    }
	
	
#loading_superior, #loading_portada, .border-rooms, #loading_inferior{
	border: 6px solid #3e281b;
	border-radius: 13px;
}

.fixed-scroll-editor{
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: visible;
}

.fixed-pos-table{
  position: relative;
  top: 3rem;
}

#perfil, #estado{
  color: #cf6b1f !important;
  font-weight: bold;
}

#perfil:option, #estado option{
  color: #cf6b1f !important;
  font-weight: bold;
}

.fixed-file{
  width: 100px;
  height: 70px;
  opacity: 0;
  cursor: pointer;
}

.fixed-picture-background{
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  display: block;
  margin-left: 0px;
  margin-right: auto;
}

.fixed-picture-thumb{
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 70px;
  display: block;
  margin-left: 0px;
  margin-right: auto;
}

.fixed-picture-slider{
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    min-width: 740px;
    min-height: 450px;
    display: block;
    margin-left: 0px;
    margin-right: auto;
    height: auto !important;
}

.fixed-picture-config {
    background-size: contain;
    width: 100%;
    height: auto !important;
}

.fixed-picture-config-inferior{
	background-size: contain;
	width: 100%;
	height: 100rem !important;
	max-height: 487px;
}

.fixed-picture-galeria{
	background-size: contain;
	width: 100%;
	height: 37rem !important;
	max-height: 487px;
}

.fixed-picture-miniatura{
	background-size: contain;
	width: 40rem;
	display: block;
	height: 26rem !important;
}

.fixed-picture-room{
	background-size: contain;
    width: 100%;
    height: 25rem !important;
}

.fixed-picture-portada {
    background-size: contain;
    width: 61%;
    height: 23rem !important;
}

.fixed-cog{
  font-size: 13rem;
  float: right;
}

.no-float{
  float:none !important;
}

.not-scroll{
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}

.editor.btn-toolbar {
  zoom: 1;
  background: #e4dcca !important;
  margin: 5px 2px;
  padding: 3px 0;
  border: 1px solid #e4dcca !important;
}

.fixed-habground{
  background:url(../img/home/habitaciones/hab_g.jpg) no-repeat;
  min-height: 600px;
  height: auto;
  width: 100%;
  background-size:cover;
}

.centrar-habitaciones{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#mobilehistory{
  display: none;
}

@media only screen and (max-width:1336px){
  .fixd-col-md-4v3{
    width: 100% !important;
  }

  .fixed-colmd4v4{
    width: 100% !important;
  }

  #mobilehistory{
    display: block;
  }

  #desktophistory{
    display: none;
  }
}

@media only screen and (max-width:1336px){
  .fixed-colmd-3v2{
    width: 50% !important;
  }
}

@media only screen and (max-width:1280px){
  .fixd-col-md-4v2{
    width: 100% !important;
  }
}

@media only screen and (max-width:991px){
  .fixed-colmd-3v2{
    width: 100% !important;
  }
}


body { padding-right: 0 !important }

.bajar{
	position: relative;
	top: 1rem;
}


#btnaddtextoprincipal{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;}
#btnaddtextoprincipal:hover,#btnaddtextoprincipal:focus{color:#cf6b1f;font-family:Roboto-Bold;}
.btnwaldorf{
	width:100px;
	height:30px;
	margin:0px auto;
	display:block;
	background-color:#3e281b;
	color:#e4dcca;
	border:none;
}

.btnwaldorf:hover,btnwaldorf:focus{
	color:#cf6b1f;
	font-family:Roboto-Bold;
}

.btn-thumb{
	z-index: 10;
	position: relative;
	top: -8rem;
	left: 2rem;
}

#btnAsociar{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;}
#btnAsociar:hover,#btnAsociar:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnModificarPromocion{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;}
#btnModificarPromocion:hover,#btnModificarPromocion:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnAgregarPromo{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;}
#btnAgregarPromo:hover,#btnAgregarPromo:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnslider{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;}
#btnslider:hover,#btnslider:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnasociarthumb1{width:156px;height:30px;margin:auto 0px;display:block;background-color:#3e281b;color:#e4dcca;border:none;}
#btnasociarthumb1:hover,#btnasociarthumb1:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnadd{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;}
#btnadd:hover,#btnadd:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btneditar{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;}
#btneditar:hover,#btneditar:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnDashboard{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;}
#btnDashboard:hover,#btnDashboard:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnuserclose{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;}
#btnuserclose:hover,#btnuserclose:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnhistorialclose{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;}
#btnhistorialclose:hover,#btnhistorialclose:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnclose{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;}
#btnclose:hover,#btnclose:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnseepropiedades{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;position:relative;top:´2rem;}
#btnseepropiedades:hover,#btnseepropiedades:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnmodifypictures{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;position:relative;top:1rem;}
#btnmodifypictures:hover,#btnmodifypictures:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnaddhistorymobile{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;position:relative;top:1rem;}
#btnaddhistorymobile:hover,#btnaddhistorymobile:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnAddproperties{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;position:relative;top:1rem;}
#btnAddproperties:hover,#btnAddproperties:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnmodifypropieades{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;position:relative;top:1rem;}
#btnmodifypropieades:hover,#btnmodifypropieades:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnseepicturehab{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;position:relative;top:1rem;}
#btnseepicturehab:hover,#btnseepicturehab:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#btnremove{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;position:relative;top:0rem;}
#btnremove:hover,#btnremove:focus{color:#cf6b1f;font-family:Roboto-Bold;}
