#closeModal{position:absolute;top:15px;right:15px;font-size:24px;color:#FFF;cursor:pointer;}
#content-modalPromo table{height:100%;margin-left:auto;margin-right:auto;}
#content-modalPromo{max-width:1080px;height:100%;margin-left:auto;margin-right:auto;position:relative;}
.content-imgPromo>img{max-width:100%;height:auto;}
#btn-promo{position: absolute;right:0;bottom:15px;width:150px;height:35px;background-color:#cf6b1f;border:#cf6b1f 1px solid;color:#ffffff;-webkit-box-shadow:13px 11px 26px -8px rgba(0,0,0,0.5);-moz-box-shadow:13px 11px 26px -8px rgba(0,0,0,0.5);box-shadow:13px 11px 26px -8px rgba(0,0,0,0.5);}