/* ==================================================*/
@font-face {
    font-family:Roboto-Bold;src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family:Roboto-Light;src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family:Roboto-Regular;src: url(../fonts/Roboto-Regular.ttf);
}
.titulo{ font-family:Roboto-Regular;font-size:24px;}
.titulo-res{ font-family:Roboto-Regular;font-size:18px;}
/*================================================== */
html, body {
	height: 100%;
}
body{
	font-family: Roboto-Light;font-size: 14px;
  background-color:#FFF !important;
  /*background-color: transparent!important;*/
  background-image: url(../img/Patrones2.svg) !important;
  background-size: contain;
  background-repeat: repeat-x|repeat-y;
}

.homePOS{
    position: relative;
    left: 1rem;
}

.oferta > img{
	width: auto;
	height: auto;
	max-width: 500px;
	max-height: 500px;
}

#alerta  > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#alerta > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#profileclose{color:#cf6b1f;position:absolute;top:15px;right:15px;cursor:pointer;z-index: 103;}
#btnclose{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;}
#btnclose:hover,#btnclose:focus{color:#cf6b1f;font-family:Roboto-Bold;}

.background-container{
  /*background-color: transparent!important; background-image: url(../img/patron2.svg) !important;*/
}
/*.container-waldorf-footer{
	position:relative;top:0px;left:0px;right:0px;max-width:1080px;margin:0px auto;background-color:#3e281b;
	box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.8), -12px 0 15px -4px rgba(0, 0, 0, 0.8);
}*/
.container-waldorf{
	position:relative;top:0px;left:0px;right:0px;max-width:1080px;margin:0px auto;background-color:#e4dcca;
	box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.8), -12px 0 15px -4px rgba(0, 0, 0, 0.8);
}
#home-topage{
	position:relative;height:530px
}
#logoWaldorf{
	width: 300px;height: 100px;background-color: #a8501c;background-image: url(../img/logo.png);background-repeat: no-repeat;background-position:center;position: absolute;top: 0px;left: 50px;z-index: 100;-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.35);-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.35);box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.35);
}

.icon-config{
	color: #e4dcca;
	cursor:pointer;
	font-size:2rem;
}

.icon-config:hover{
	color: #cf6b1f;
	cursor:pointer;
	font-size:2rem;
}

.aux-row{
	position: relative;
    margin: 0px;
    top: 7rem;
}
/*================================================== */
.navbarWaldorf-ini{position:relative;top:-60px;}
.navbarWaldorf-fixed{position:fixed;top:0;left:0px;right:0px;}
.navbarWaldorf-ini > nav,.navbarWaldorf-fixed > nav{max-width:980px;margin:0px auto;}
#navbarWaldorf-container{z-index:1000;}
#navbarWaldorf{background-color:#3f1600!important;border-color:#3f1600!important;border-radius:0px!important;}
#navbar-collapse-waldorf{padding-right: 10px;padding-left: 10px;}
#navbar-collapse-waldorf>form{height:60px!important;margin:0px!important;padding:0px;}
#navbar-collapse-waldorf>ul{margin:5px 0px!important;!important;max-width:100%;}
#navbar-collapse-waldorf>ul>li>a{color:#e4dcca!important;width:120px;text-align:left;padding: 15px 0px!important;}
#navbar-collapse-waldorf>ul>li>a:hover,#navbar-collapse-waldorf>ul>li>a:focus,#navbar-collapse-waldorf>ul>li>a.active{font-family:Roboto-Bold;color:#e4dcca!important;}
#btn-wal-res{padding:6px 24px;margin:15px 0px;background-color:transparent;border:#cf6b1f 1px solid;font-family:Roboto-Bold;color:#cf6b1f;}
#navbar-social>li,#navbar-social>li>a{
	height:20px!important;
	width:20px!important;
	color:#b1925c !important;
	margin-right:30px;
	background-size: 20px;
}
#navbar-social{height:30px!important;}
.face{background:url(../img/home/face_simple.svg) no-repeat;}
.face:hover,.face:focus{background:url(../img/home/face_over.svg) no-repeat;}
.twitter{background:url(../img/home/twitter_simple.svg) no-repeat;}
.twitter:hover,.twitter:focus{background:url(../img/home/twitter_over.svg) no-repeat;}
.inst{background:url(../img/home/Inst_simple.svg) no-repeat;}
.inst:hover,.inst:focus{background:url(../img/home/Inst_over.svg) no-repeat;}
/* ==================================================*/
#BotonRes{position:fixed;top:80%;/*width:100%;*/height:0px;z-index:1000;}
#btn-wal-res-float{display:none;position:absolute;right:-999px;width:150px;height:35px;background-color:#cf6b1f ;border:#cf6b1f  1px solid;color:#ffffff;
-webkit-box-shadow: 13px 11px 26px -8px rgba(0,0,0,0.5);-moz-box-shadow: 13px 11px 26px -8px rgba(0,0,0,0.5);box-shadow: 13px 11px 26px -8px rgba(0,0,0,0.5);
}
#btn-wal-res-float:hover,#btn-wal-res-float:focus{ font-family:Roboto-Bold;color:#ffffff;font-weight:bold !important; background-color:#b1925c;border:#b1925c  1px solid;}
/* ==================================================*/
#footer{background-color:#3f1600;width:100%;}
.btn-footer{background-color:transparent;border:1px #e4dcca solid;color:#e4dcca;margin-left:auto;margin-right:auto;display:block;margin-top:40px;width:100%;cursor:pointer;}
.btn-footer:hover,.btn-footer:focus{color:#fff;text-decoration:none;}
#location{background-image:url(../img/home/ubicacion.png);background-position:center;width:35px;height:35px;display:block;margin:10px auto;}
#footer-social>li,#footer-social>li>a{height:20px!important;width:20px!important;background-size: 20px;}
#footer-social{height:40px!important;}
#footer-social>li>a,#footer-social>li>a:hover,#footer-social>li>a:focus{background-color:transparent!important;}
#footerWaldorf{height:60px;background-image: url(../img/home/Logo_Ppal.png);background-repeat:repeat-x;background-size: contain;}
#footer-habitaciones,#footer-nuestroh{display:none;}
#footer-habitaciones>ul>li>a,#footer-nuestroh>ul>li>a{color:#e4dcca;}
#footer-habitaciones>ul>li>a:hover,#footer-habitaciones>ul>li>a:focus,#footer-nuestroh>ul>li>a:hover,#footer-nuestroh>ul>li>a:focus{font-family:Roboto-Bold;color:#e4dcca;text-decoration:none;}
#copy{color:#e4dcca;text-align:center;font-size:10px;padding:0px 10px;margin:0px;}
#ha > li , #nu > li{position:relative;top:1rem;}
#login, #password{color:#cf6b1f;font-weight:bold;}
/* ==================================================*/
/* Portrait phones and smaller */
@media (max-width: 480px) {
	#logoWaldorf{left:0;right:0;margin:0px auto;}
	.container-waldorf,.container-waldorf-footer{margin:0px 20px;}
	#ContainrTP{height:100%!important;}
	/*#btn-wal-res-float{left: -15%;float: right;}*/
	.link-T{position: relative;bottom: 10px;}
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.container-waldorf,.container-waldorf-footer{margin:0px 25px;}

	#footer-social{height: initial!important;}
	#footer-social>li{display: inline-block !important;float:left;}
	#ContainrTP{margin-top:15px;}
	#ParrafoHistoria{max-height:100%;height:auto;overflow:visible;}
	#ContainrTP{height:auto!important;}
	.col-labelR{width:100%;text-align:left;}
	.btn-footer{margin-top:5px;margin-bottom:5px;}
	/*#btn-wal-res-float{left: -6.4%;float: right;}*/
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.container-waldorf,.container-waldorf-footer{margin:0px 30px;}
}
@media (max-width: 980px) {
	/*#btn-wal-res-float{left: -8.0%;float: right;}*/
	#navbarWaldorf-container,.container-waldorf-footer{padding: 0px 10px;}
}

@media (max-width: 1150px) {
	/*#btn-wal-res-float{left: -3.9rem;float: right;}*/
}

@media (max-width: 1100px) {
	/*#btn-wal-res-float{left: -6rem;float: right;}*/
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.container-waldorf,.container-waldorf-footer{margin:0px 30px;}
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
}
/*================================================== */
/*.fixed-space-li > li > a{margin-right:15px !important;}*/
#acceder > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#acceder > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#btnEnviar{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;}
#btnEnviar:hover,#btnEnviar:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#loginclose{color:#cf6b1f;position:absolute;top:15px;right:15px;cursor:pointer;}
.input-style{background-color: #e4dcca;}
.input-style::-webkit-input-placeholder{color: #cf6b1f;}
.input-style::-moz-placeholder{color: #cf6b1f;}
.input-style:-ms-input-placeholder{color: #cf6b1f;}
.input-style:-moz-placeholder{color: #cf6b1f;}
.alerta{color:#3e281b;position:relative;font-size:1.5rem;font-weight:bold;}
/*================================================== */
@media (max-width: 910px) {
	#navbar-social{height: initial!important;}
	#navbar-social>li{display: inline-block !important;}
	#navbar-collapse-waldorf>form{padding: 0px;}
}
/*================================================== */
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #cf6b1f;
}
