@font-face {
    font-family:Plaster-Paris;src: url(../fonts/PlasterofParis.ttf);
}
.tituloDeco{font-family:Plaster-Paris;font-size:60px;color:#cf6b1f;margin:0px;}
/*================================================== */
body{
	/*background-color:transparent!important;*/
	background-image:url(../img/patron.jpg);
}
/*================================================== */
#slider-topage{position:relative;height:500px;background-position: center;background-repeat:no-repeat;background-size:cover;}
#Galeria{margin:0px;margin-top:-60px;}
.TableP{width:100%;height:100%;}
/* ==================================================*/
/*
inspired from http://codepen.io/Rowno/pen/Afykb 
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;transition-property: opacity;
 }
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right {
  left: 0;opacity: 0;z-index: 1;
}
.carousel-fade .carousel-inner .next.left,.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
		opacity: 0;-webkit-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);;
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
		opacity: 0;-webkit-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
		opacity: 1;-webkit-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);
    }
}
/*================================================== */
.error-p{
    font-size: 1.2rem;
}
.bootstrap-datetimepicker-widget, .timepicker-picker{
    background-color: #e4dcca !important;
}
.today, .today:active, .bootstrap-datetimepicker-widget table td.active{
    background-color: #3e281b !important;
    color:#FFFFFF !important;
}
.bootstrap-datetimepicker-widget table td span.active {
    background-color: #d58c50 !important;
    color:#FFFFFF !important;
}
.datepicker-months td{
    background-color: #e4dcca;
}
.btn-primary, .btn-primary:hover{
    background-color: #3e281b;
    border-color: transparent;
}
.bootstrap-datetimepicker-widget table td.today:before {
    border-bottom-color: #FFFFFF;
}   
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
    background: #e4dcca;
}
.timepicker-hours, .timepicker-minutes, .timepicker-seconds, .glyphicon-time, .glyphicon-calendar, .glyphicon-chevron-up, 
.glyphicon-chevron-down, .glyphicon-chevron-left, .glyphicon-chevron-right, .glyphicon-screenshot, .year, .month, .datepicker-decades
.dow, .glyphicon-remove{
    color: #3e281b  !important;
}
.control{width:100%;height:50%;position:relative;text-align:center;}
.glyphicon-next,.glyphicon-prev{width:100%;height:50px;position:absolute;cursor:pointer;font-size:40px;}
.flecha-prev{bottom:0px;}
.h400{height:400px;}
#Arriba{width:50px;height:50px;font-size:30px;background-color:#404040;color:#e4dcca;border-radius:100px;text-align:center;padding-top:5px;position:relative;left:0;right:0;margin:0px auto;bottom:-25px;cursor:pointer;}
/*================================================== */
/*.pos-td{position: relative;top: -10rem;}*/
@media (min-width: 300px) and (max-width: 480px) {
	.h400{height:100%;}
	.hd400{height:220px!important;}
	.item.active img{max-height:220px;}
    /*.pos-td{position: relative;top: -6rem;}*/
}
@media (min-width: 481px) and (max-width: 767px) {
	.h400{height:100%;}
	.hd400{height:320px;}
	.item.active img{max-height:320px;}
    /*.pos-td{position: relative;top: -6rem;}*/
}
/*================================================== */
#Reserva{position:relative;max-width:1200px;height:450px;margin-left:-60px;margin-right:-60px;margin-top:40px;margin-bottom:40px;background-size:cover;background-repeat:no-repeat;background-position:center;}
/* ==================================================*/
@media (max-width: 1200px){
	#Reserva{margin-left:auto;margin-right:auto;}
    /*.pos-td{position: relative;top: -8rem;}*/
}

@media (max-width: 991px){
    /*.pos-td{position: relative;top: -4rem;}*/
}
/* ==================================================*/
#container-RR{width:310px;height:400px;position:absolute;top:25px;right:5%;}
#logo-Restaurant{width:310px;height:270px;}
.sub-titulo{font-family: Roboto-Regular;font-size:17px !important;color:#FFF;}
#titulo-Reserva{text-align:center;width:310px;height:100px;overflow:hidden;margin:0px;}
#btn-restaurant{margin:-30px auto;display:block;width:120px;height:30px;background-color:#404040;border:#404040 1px solid;color:#e4dcca;}
#btn-restaurant:hover,#btn-restaurant:focus{ font-family:Roboto-Bold;color:#cf6b1f;}
/* ==================================================*/
@media (max-width: 369px){
	#container-RR{right:2%;}
	#container-RR,#logo-Restaurant,#titulo-Reserva{width:270px;}
}
/* ==================================================*/
.link-T{width:100%;color:#333;}
.link-T:hover,.link-T:focus{text-decoration:none;color:#333;}
/* ==================================================*/
.EventosGastronomicos{background-size:contain;background-repeat:no-repeat;background-position:center;padding:0px;width:100%;height:400px;}
/* ==================================================*/
#ModalReservaRes > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#ModalReservaRes > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#btn-REnviar{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;}
#btn-REnviar:hover,#btn-REnviar:focus{color:#cf6b1f;font-family:Roboto-Bold;}
#Iclose{color:#cf6b1f;position:absolute;top:15px;right:15px;cursor:pointer;}
.input-style{background-color: #e4dcca;}
.input-style::-webkit-input-placeholder{color: #cf6b1f;}
.input-style::-moz-placeholder{color: #cf6b1f;}
.input-style:-ms-input-placeholder{color: #cf6b1f;}
.input-style:-moz-placeholder{color: #cf6b1f;}
/* ==================================================*/
@media (max-width: 767px){
	#Galeria{margin:0px;margin-top:0px;}
}
/********************************************MODAL ENVIO/RECIBO DE LA RESERVACIÓN********************************************/
#antesreserva > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#antesreserva > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#despuesreserva > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#despuesreserva > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
.alerta{color:#3e281b;position:relative;font-size:1.5rem;font-weight:bold;}
#wait{color:#cf6b1f;position:absolute;top:10px;right:15px;cursor:pointer;z-index: 103;}
.center{display:block;margin-left:auto !important;margin-right:auto !important;}
#btnClose{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;
    top: 1rem;
    position: relative;}
#btnClose:hover,#btnClose:focus{color:#cf6b1f;font-family:Roboto-Bold;}
.fixed-wait{position: relative;top:2rem;}
.mensaje{ position: relative; top: 1rem; font-size: 1.5rem; font-weight: bold; }
.title-waldorf{font-size: 2rem;font-weight: bold;}