@font-face {
    font-family:Plaster-Paris;src: url(../fonts/PlasterofParis.ttf);
}
.tituloDeco{font-family:Plaster-Paris;font-size:60px;color:#cf6b1f;margin:0px;}
/*================================================== */
body{
	/*background-color:transparent!important;*/
	background-image:url(../img/patron.jpg);
}
/*================================================== */
#slider-topage{position:relative;height:500px;background-position: center;background-repeat:no-repeat;background-size:cover;}
#Reserva{width:100%;height:400px;padding-top:50px;}
#bannerReserva{position:relative;margin:34px auto;max-width:980px;height:300px;background-repeat:no-repeat;background-size:cover;background-image:url(../img/habitaciones/banner_reserva.jpg);}
#titulo-SliderRes{position:absolute;top:50px;right:5%;font-family:Roboto-Light;text-align:right;color:#e4dcca;}
#btn-SliderRes{width:100px;height:30px;position:absolute;bottom:50px;right:5%;background-color:#cf6b1f;border:#cf6b1f 1px solid;color:#e4dcca;}
#btn-SliderRes:hover,#btn-SliderRes:focus{font-family:Roboto-Bold;}
#Habitaciones{position:relative;margin-left:-60px;margin-right:-60px;margin-top:-20px;margin-bottom:40px;}
.habiDis{cursor:pointer;}
/*================================================== */
.grid{background-color:#e4dcca;max-width:1200px;height:900px;}
.grid:after{content: '';display: block;clear:both;}
.grid-item-width{height:300;float:left;width:25%;background-repeat:no-repeat;background-size:cover;}
.grid-item-width-2{width:50%;}
.grid-item-height,.grid-item-text{height:300px;}
#grid-TextI{display:none;}
/*================================================== */
@media (max-width: 1200px){
	#Habitaciones{margin-left:auto;margin-right:auto;}
}
@media (max-width: 991px){
	.grid-item-width{width:33%;}
	.grid-item-width-2{width:66%;}
}
@media (max-width: 767px){
	#grid-Text{display:none;}
	#grid-TextI{display:block;}
	.grid-item-width{width:50%;}
	.grid-item-width-2{width:100%;}	
}
@media (max-width: 426px){
	#grid-Text{display:block;}
	#grid-TextI{display:none;}
	.grid-item-width{width:100%;}
	.grid-item-width-2{width:100%;}	
}
/*================================================== */
.TableP{width:100%;height:100%;}
#ParrafoHabitaciones{text-align:center;padding:0px 35px;max-height:250px;overflow:hidden;}
.proximamente{background-color:rgba(0,0,0, 0.6);margin:0px;width:100%;height:100%;color:#e4dcca;text-align:center;padding-top:250px;}
.Thabi{background-color:rgba(62,40,27, 0.6);margin:0px;width:100%;height:75px;color:#e4dcca;text-align:center;padding-top:25px;}
.Dhabi{background-color:rgba(62,40,27, 0.6);margin:0px;width:100%;height:100%;color:#e4dcca;text-align:center;display:none;}
.btn-Detalles{width:100px;height:30px;background-color:transparent;border:#e4dcca 1px solid;color:#e4dcca;}
.btn-Detalles:hover,.btn-Detalles:focus{font-family:Roboto-Bold;}
/*================================================== */
#Detalles{width:100%;height:100%;padding:0px;}
#Detalles,.row-DetHab{display:none;}
.ChekCap{font-family:Roboto-Bold;}
.lista-HabDet{text-align:right;max-height:320px;overflow:hidden;}
.container-btnHabDet{width:224px;height:30px;float:right;}
.btn-HabDet{width:100px;height:30px;background-color:transparent;border:#cf6b1f 1px solid;color:#cf6b1f;margin:0px 5px;}
.btn-HabDet:hover,.btn-HabDet:focus{font-family:Roboto-Bold;}
.row-DetHab{margin:0px auto;max-width:980px;}
/*================================================== */
.Contlista-HabDet{padding-right: 15px;}
.gridHabDet{position:relative;background-color:#e4dcca;max-width:100%;height:400px!important;}
.gridHabDet:after{content: '';display: block;clear:both;}
.gridHabDet-item-width,.gridHabDet-item-width-2,.gridHabDet-item-width-3,.gridHabDet-item-width-4,.gridHabDet-item-width-5,.gridHabDet-item-width-6{height:400;float:left;}
.gridHabDet-item-width{width:20%;}
.gridHabDet-item-width-2{width:25%;}
.gridHabDet-item-width-3{width:55%;}
.gridHabDet-item-width-4{width:75%;}
.gridHabDet-item-width-5{width:80%;}
.gridHabDet-item-width-6{width:45%;}
.gridHabDet-item-height{height:200px;}
.gridHabDet-item-height-2{height:400px;}
/*================================================== */
.gridHabDet-img{width:100%;height:100%;background-repeat:no-repeat;background-size:cover;background-position:center center;}
.gridHabDetG1,.gridHabDetG2{padding: 5px;}
.gridHabDetG1{display:block;}
.gridHabDetG2{display:none;}
/*================================================== */
.gridHabDet-glyphicon{width:100%;height:100px;font-size:45px;padding:25px;text-align:center;}
.gridHabDet-glyphicon > i{cursor:pointer;}
/*================================================== */
.img-flechas{cursor:pointer;width: 45px;height: 45px;}
@media (max-width: 767px){
	.gridHabDet-item-width{width:20%;}
	.gridHabDet-item-width-2{width:80%;}
	.gridHabDet-item-width-3{width:45%;}
	.gridHabDet-item-width-4{width:50%;}
	.gridHabDet-item-width-5{width:80%;}
	.gridHabDet-item-width-6{width:55%;}
	.gridHabDet-item-height,.gridHabDet-item-height-2{height:200px;}
}
@media (max-width: 424px){
	.gridHabDet-glyphicon{padding:0px;}
}
/*================================================== */
#Arriba{width:50px;height:50px;font-size:30px;background-color:#404040;color:#e4dcca;border-radius:100px;text-align:center;padding-top:5px;position:relative;left:0;right:0;margin:0px auto;bottom:-25px;cursor:pointer;}
/*================================================== */
#ModalGallHab > .modal-dialog > .modal-content{background-color:#e4dcca;border:13px solid #e4dcca;border-radius:10px;}
#ModalGallHab > .modal-dialog > .modal-content > .modal-header{padding:0px;border:none;}
#Iclose{color:#cf6b1f;position:absolute;top:15px;right:15px;cursor:pointer;width:30px;}
#contentLigbox{margin: 0px auto!important;max-width: 540px;}
.imageGalligbox{width:180px;height:180px;float:left;background-repeat:no-repeat;background-position:center center;background-size:cover;}
/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
/*================================================== */
@media (max-width: 615px){
	#contentLigbox{max-width:360px;}
}
@media (max-width: 435px){
	#contentLigbox{max-width:100%;}
	.imageGalligbox{width:50%;}
}
/*================================================== */
.imageGalligbox{cursor: pointer;transition: 0.3s;}
.imageGalligbox:hover {opacity: 0.7;}
.ModalImgBox{max-width:100%;}
#ModalImgBoxclose{z-index:1100;}
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* The Modal (background) */
#BootstrapModalImgBox.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1100; /* Sit on top */
    padding-top: 70px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    /*width: 80%;
    max-width: 700px;*/
}
/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
/*================================================== */
#BootstrapCarouselLightBox,#BootstrapCarouse-innerlLightBox,.item,.TitemLightBox{height:100%;}
.item{overflow-y: auto;}
.controlLightBox,.arrowLightBox{cursor:pointer;}
.TitemLightBox{width:100%;}
.controlLightBox{height:100%;width:15%;position:absolute;top:0px;}
.controlLightBox img{height:45px;width:50px;position:relative;top:calc(50% - 22.5px);}
.controlLightBox-right{right:0px;}
.controlLightBox-right img{float:right;}
.controlLightBox-left{left:0px;}
.arrowLightBox{opacity:0.2;}
.arrowLightBox:hover,.controlLightBox:hover img{opacity:1;}
/*================================================== */
/*
inspired from http://codepen.io/Rowno/pen/Afykb 
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right {
  left: 0;opacity: 0;z-index: 1;
}
.carousel-fade .carousel-inner .next.left,.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
		opacity: 0;-webkit-transform: s1 translate3d(0, 0, 0);-o-transform: s1 translate3d(0, 0, 0);-moz-transform: s1 translate3d(0, 0, 0);transform: s1 translate3d(0, 0, 0)translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
		opacity: 0;-webkit-transform: s1 translate3d(0, 0, 0);-o-transform: s1 translate3d(0, 0, 0);-moz-transform: s1 translate3d(0, 0, 0);transform: s1 translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
		opacity: 1;-webkit-transform: s1 translate3d(0, 0, 0);-o-transform: s1 translate3d(0, 0, 0);-moz-transform: s1 translate3d(0, 0, 0);transform: s1 translate3d(0, 0, 0);
    }
}
/*================================================== */
.item::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color:transparent;
}

.item::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}

.item::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: transparent;
}