@font-face {
    font-family:Plaster-Paris;src: url(../fonts/PlasterofParis.ttf);
}

#btnadd{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;position: relative;top:0rem;}
#btnadd:hover,#btnadd:focus{color:#cf6b1f;font-family:Roboto-Bold;}

#btnDashboard{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;position: relative;top:0rem;}
#btnDashboard:hover,#btnDashboard:focus{color:#cf6b1f;font-family:Roboto-Bold;}

#btnremove{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;position: relative;top:0rem;}
#btnremove:hover,#btnremove:focus{color:#cf6b1f;font-family:Roboto-Bold;}

#btnAddproperties{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;position: relative;top:0rem;}
#btnAddproperties:hover,#btnAddproperties:focus{color:#cf6b1f;font-family:Roboto-Bold;}

#btnremovergaleria{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;position: relative;top:0rem;}
#btnremovergaleria:hover,#btnremovergaleria:focus{color:#cf6b1f;font-family:Roboto-Bold;}

#btnclose{width:100px;height:30px;margin:0px auto;display:block;background-color:#3e281b;color:#e4dcca;border:none;position: relative;top:0rem;}
#btnclose:hover,#btnclose:focus{color:#cf6b1f;font-family:Roboto-Bold;}

#picture_rooms, #picture_thumbnail, #capcidadmax, #favorito, #picture_galeria, #posicion, #propiedades, #pictureName, #file_picture, #file_contactus, #subtitulohistory, #titulohistory{color:#cf6b1f !important;font-weight:bold;}

.fixed-button-historial{
  width:100px;
  height:30px;
  margin:0px auto;
  display:block;
  background-color:#3e281b;
  color:#e4dcca;
  border:none;
  position: relative;
  top:0rem;
}

.float-right{
	float:right !important;
}

.table-position{
	position:relative;
	top:1rem;
}

.border-over{
    border: 1rem solid #3e281b !important;cursor:pointer;
}

.fixed-adjust-width{
  width: 50% !important;
  float: right;
  min-height: 250px;
  min-width: 295px;
  max-height: 250px;
  max-width: 295px;
}

.fixed-button-historial:hover, .fixed-button-historial:focus{
    color:#cf6b1f;
    font-family:Roboto-Bold;
}

.fixed-row-btn{
    position: relative;
    top:1rem;
}

.fixed-background-preview{
  background: url(../img/default.jpg) no-repeat;
  background-size: contain;
  width: auto;
  height: auto;
}

.fixed-picture-config{
    background-size: contain;
    width: 100%;
    height: auto !important;
}

.carousel-indicators{
    top: 47rem;
}

.colorhr{
  color: #cf6b1f;
}


@media only screen and (max-width: 1200px){
  .fixed-picture-config {
      height: auto !important;
  }
}


#pictureName{color:#cf6b1f !important;font-weight:bold;}

#btnrestaurant, #btnhabitaciones{
  width: 150px;
  height: 30px;
  margin: 0px 0px;
  display: block;
  background-color: #3e281b;
  color: #e4dcca;
  border: none;
  position: relative;
  top: 0rem;
  left: 1rem;
}
#btnrestaurant:disabled, #btnhabitaciones:disabled{
  background-color: #e4dcca;
  color:#cf6b1f;
}

.fixed-position-header{
  position: relative;
  top: 1rem;
}

.fixed-row > div{
  float:right;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fixed-po{
  position: relative;
  top: 0rem !important;
}

/******************************/
#Carousel-Waldorf,#Inner-Waldorf,.item,.item-topage{
	position:relative;height:500px
}
.item-topage{background-repeat:no-repeat;background-size:cover;}
/* ==================================================*/
/*
inspired from http://codepen.io/Rowno/pen/Afykb
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;transition-property: opacity;}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right {
  left: 0;opacity: 0;z-index: 1;
}

.carousel-fade .carousel-inner .next.left,.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/* ==================================================*/
